<p>Hello,</p>

<p>An account administrator has requested deletion of the BlinkOne workspace <strong>{{ meta.account_name }}</strong>. The account is scheduled for deletion on <strong>{{ meta.deletion_date }}</strong>.</p>

<p>— The BlinkOne Team</p>
